#!/bin/bash

# (c) 2005 Marcus Habermehl <bmh1980de@yahoo.de>
# (c) 2003 Vajna Miklos <vmiklos@frugalware.org>
# rc.frugalware for Frugalware
# distributed under GPL License

# chkconfig: 2345 00 94
# description: Save/restore settings different.

source /lib/initscripts/functions
TEXTDOMAIN=frugalware
TEXTDOMAINDIR=/lib/initscripts/messages
CONFFILE="`ls -1 /{media,mnt}/*/fwliveconf.mo 2>/dev/null | head -n 1`"
FWCONF=$"\e[01mFWLive config file!\e[0m"
NOFWCONF=$"\e[01mNO FWLive config file!\e[0m"

actions=(start stop save restore)

rc_save()
{
	rc_stop
}

rc_restore()
{
	rc_start
}

rc_start()
{
	echo -e "Finding saved settings file..."
	# wating on fstab-update
	sleep 5
	if [ "$CONFFILE" != "" ] && [ "restore" ]; then
		echo -e "$FWCONF"
                if message_skipped "No restoring saved settings $CONFFILE?" 9; then
			/usr/local/bin/configrestore $CONFFILE
		fi
	else
		echo -e "$NOFWCONF"
	fi
}

# $1 = message text (y/n question)
# $2 = timeout (integer)
message_skipped()
{
	i=$2; echo -ne "$1\n"
	echo -ne "\e[01;36m $i s     \e[0m[ enter=confirm ]	\r"
		while [ $i -gt 0 ]; do
			i=$(($i-1))
			read -t 1 -s -n 1 CHAR
				if [ $? = 0 -a "$CHAR" = "" ]; then echo; return 1; fi
			echo -ne "\e[01;36m $i s     \e[0m[ enter=confirm ]	\r"
		done
	echo -e "\nTimed out. Never mind, skipped."
	return 0
}

rc_stop()
{
# automatically restore/save settings in the case fwliveconf.mo is found
# in root directory of any partition. Only the first one is used.
	if [ "$CONFFILE" != "" ]; then
		echo -e "$FWCONF"
		if ! message_skipped "Save settings by using $CONFFILE?" 9; then
			/usr/local/bin/configsave $CONFFILE
		fi
	else
		echo -e "$NOFWCONF"
		if ! message_skipped "SAVE settings?" 9; then
			echo -n "Please give config install path [/mnt/sda*]: "
			read UTVONAL
			if [ "$UTVONAL" != "" ] && [ -d "$UTVONAL" ]; then
				/usr/local/bin/configsave $UTVONAL/fwliveconf.mo
			else
				echo "No valid path! Bye."; return 1;
			fi
		fi
	fi

}

rc_exec $1

# vim: ft=sh
